* {
    background:                    #1c2023;
    background-color:              #1c2023;
    normal-background:             #1c2023;
    alternate-normal-background:   #262b2e;

    foreground:                    #dfe3e7;
    normal-foreground:             #dfe3e7;
    alternate-normal-foreground:   #dfe3e7;

    selected-normal-background:    #90cef4;
    selected-normal-foreground:    #00344a;

    active-background:             #374955;
    active-foreground:             #b6c9d7;
    alternate-active-background:   #374955;
    alternate-active-foreground:   #b6c9d7;
    selected-active-background:    #b6c9d7;
    selected-active-foreground:    #20333e;

    urgent-background:             #93000a;
    urgent-foreground:             #ffb4ab;
    alternate-urgent-background:   #93000a;
    alternate-urgent-foreground:   #ffb4ab;
    selected-urgent-background:    #ffb4ab;
    selected-urgent-foreground:    #690005;

    bordercolor:                   #8b9297;
    border-color:                  #8b9297;
    separatorcolor:                #41484d;
}
